.searchbar form {
    display: flex;
    border: 2px solid white;
    border-radius: 25px;
    padding: 5px;
}

.searchbar form input {
    border: none;
    padding: 10px;
    background: transparent;
    outline: none;
    color: white;
}

.searchbar form button {
    background: none;
    border: none;
    outline: none;
}

.searchbar form button:hover {
    cursor: pointer;
}

.MuiSvgIcon-root {
    color: white;
}

::placeholder { 
    color: white;
  }